
@{
    ViewBag.Title = "Submitted";
}

<h1>Submitted</h1>

<p>Thank you, your application has been successfully submitted.</p>
<br />
<p>
    @Html.ActionLink("Back to Jobs", "Index", "Home", null, null)
</p>