@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @foreach (var job in ViewBag.Jobs)
        {
            <a href="Jobs/Details/@job.ID"><h2>@job.Title</h2></a>
            <div>@job.Location</div>
            <div><a href="Applications/Create/@job.ID" class="btn btn-primary">Apply</a></div>
        }
    </div>
</div>