body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
	display: inline-block;
	font-size: 22px;
    font-family: 'PT Sans', sans-serif;
}

.job-list-item {
	position: relative;
	margin-bottom: 3rem;
}

.job-list-item h2 {
	margin: 0;
	margin-bottom: 1rem;
}

.job-list-item .details {
}

.job-list-item .btn {
	position: absolute;
	top: 0;
	right: 0;
}

.container {
	width: 700px;
}

.navbar-nav > li > a {
    padding: 0;
    margin-left: 2rem;
}


.navbar-nav > li > a:hover {
	background: transparent;
}

.filter {
	margin: 4rem 0;
}