body {
    font-family: 'PT Sans', sans-serif;
    color: #292929;
}

a {
    color: #5B7876;
}

.btn-primary {
    color: #ffffff;
    background-color: #5B7876;
}

.btn {
    border: none;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #658481;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 360px;
}

form textarea.form-control {
	min-height: 20rem;
}

h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}

.job {
    margin-top: 3rem;
}

 h1 {
    color: #5B7876;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.job-list-item {
	position: relative;
	margin-bottom: 3rem;
}

.job-list-item h2 {
	margin: 0;
	margin-bottom: 1rem;
}

.job-list-item .details {
    text-transform: uppercase;
    color: #999999ad;
    font-weight: 600;
    letter-spacing: 1px;
}

.job-list-item .btn {
	position: absolute;
	top: 0;
	right: 0;
}

.container {
	width: 700px;
}

.navbar-nav > li > a {
    padding: 0;
    margin-left: 2rem;
}

.form-control {
    border: 2px solid #cccccc54;
    border-radius: 0;
    box-shadow: none;
}


.job .details {
    text-transform: uppercase;
    color: #999999ad;
    font-weight: 600;
    letter-spacing: 1px;
}


.navbar-nav > li > a:hover {
	background: transparent;
}

.filter {
	margin: 4rem 0;
}

.job-header .btn {
	position: absolute;
	top: 0;
	right: 0;
}

.job-header {
	position: relative;
}

.job > hr {
	margin: 3rem 0;
}

.job > .btn {
	margin: 4rem 0;
}

header {
	padding: 4rem 0;
}

.job-header h2 {
    opacity: 0.5;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.job-description {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.form-inline select {
    width: auto;
    min-width: 100px;
    margin-left: 4px;
}


footer {
	padding-bottom: 3rem;
}